* {
    margin: 0px;
    padding: 0px;
}
#top {
    color:rgb(245,10,10);
    text-align: center;
    font-size: 46px;
    font-family:monospace
    
}
#top1 {
    color: black;
    text-align:center;
    font-size: 21px;
    font-family:monospace
}
#navbar {
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 14vh;
    width: 100vw;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 15px;

}
#navcontent{
    display:flex;
    justify-content: center;
}

ul li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul li a {
    padding:1px;
    color:white;
    text-decoration: none;
    border-radius: 10px;
}
ul li a:hover {
    background-color: lightblue;
    border-radius: 10px;
}

#Container1 {
    position: relative;
    text-align: center;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 63vh;
}
#Container1::before {
    content:'';
    background:url("./food.jpg") no-repeat center center/cover;
    width: 100vw;
    height: 59vh;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 45px;
    font-weight: bold;
    border: 2px solid black;
    border-bottom-left-radius: 100px;
    z-index: -1;
    opacity: 0.89;
}
#row1 {
    color:black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}
/* Button Styling*/
.btn {
    margin-top: 15px;
    border: 3px solid white;
    border-radius: 15px;
    background-color:yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
}

.btn:hover{
    cursor: pointer;
    background-color: lightblue;

}

#Container2{
    display:flex;
    justify-content: space-evenly;
}

#row2 {
    width:24vw;
    height:21vh;
    margin-top:25px;
    margin-bottom:25px;

}